# Base de datos PostgreSQL
POSTGRES_DB=inout
POSTGRES_USER=inout
POSTGRES_PASSWORD=cambiar_esto

# Koha REST API
KOHA_API_URL=https://biblioteca.upeu.edu.pe/api/v1
KOHA_API_USER=inout-api
KOHA_API_PASS=cambiar_esto
KOHA_VERIFY_SSL=false

# Espacio por defecto
DEFAULT_SPACE_ID=1
DEFAULT_SPACE_CAPACITY=150
DEFAULT_SPACE_NAME=Biblioteca UPeU Lima

# Koha DB directa (para fotos de patrons — patronimage)
KOHA_DB_HOST=
KOHA_DB_USER=
KOHA_DB_PASS=
KOHA_DB_NAME=

# Seguridad
SECRET_KEY=cambiar_esto_con_openssl_rand_hex_32
